* {
    font-family: 'IBM Plex Mono', monospace;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    height: 100%;
}
.translit {
    text-align: center;
    margin-top: 44px;
    margin-bottom: 86px;
    color: #4520ab;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 8px;
}

.input-form {
    position: relative;
    font-size: 8px;
    align-items: center;
    display: inline-flex;
    border-radius: 14px;
    border: 2px solid #111111;
    width: 500px;
    height: 56px;
    margin-bottom: 40px;
}
.placeholder {
    border: none;
    width: 400px;
    height: 24.64px;
    top: 198.56px;
    padding-left: 20px;
    opacity: 60%;
}

.button {
    margin: 400px;
    position: absolute;
    background: #111111;
    border-radius: 8px;
    color: #ffffff;
    font-size: 18px;
}

/*======UL=======*/
.dictionary {
    width: 500px;
    align-items: center;
}

.row {
    align-items: stretch;
    display: inline-flex;
    width: 100%;
}

/*==границы колонок== не работает*/

/* выбрать все дочерние элементы элемента, кроме последнего элемента.*/
.russian,
.russian_cut:not(:last-child) {
 border-bottom: 1px solid black;
}
.russian,
.russian_cut:first-child {
 border-top-left-radius: 8px;
}
.russian + .russian_cut:last-child {
 border-bottom-left-radius: 8px;
}

.english + .english_cut:not(:last-child) {
}
.english + .english_cut:first-child {
 border-top-right-radius: 8px;
}
.english,
.english_cut:last-child {
 border-bottom-right-radius: 8px;
}

.russian,
.russian_cut {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: normal;
    background: #f0f0f0;
    min-height: 40px;
    width: 100%;
    padding-left: 10px;
    border-right: none;
    border-top: none;
}

.english,
.english_cut {
    white-space: pre-wrap;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 12px;
    background: #ccc9c9;
    border: 1px solid #111111;
    border-top: none;
    border-right: none;
    min-height: 40px;
    width: 100%;
}
.index {
    padding-right: 5px;
}

.tooltip-up {
    position: fixed;
    padding: 10px 20px;
    border: 1px solid #b3c9ce;
    border-radius: 10px;
    text-align: center;
    font: italic 14px/1.3 sans-serif;
    color: #333;
    background: #ffffff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 140px;
    hyphens: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: none;
}
/*================т*/
.delete {
    border-radius: 45px;
    display: flex;
    margin-right: 5px;
}

/*== ERASE ================================== =*/

.btnErase {
    display: inline-block;
    justify-self: flex-start;
    align-items: center;
    background: #ccc9c9;
    border-radius: 8px;
    width: 176px;
    height: 38px;
    color: #0f0f0f;
    size: 18px;
    position: relative;
    z-index: 0;
}

.erase_icon {
    display: flex;
    padding-left: 10px;
    top: 27px;
    align-self: center;
    position: relative;
    z-index: 1;
}

/*==Mobile===*/
/* max-width: 768px; */
@media (max-width: 328px) {
    .dictionary {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        max-width: 328px;
        height: auto;
    }

    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: auto;
        margin: 0%;
    }
    input {
        width: 228px;
    }
    .english,
    .english_cut {
        position: relative;
        width: 50%;
    }
}
